{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<h2 class="mb-4">欢迎，{{ user.real_name }}</h2>
{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
<div class="card mb-4">
    <div class="card-body">
        <p>欢迎使用图书管理系统！</p>
        {% if user.user_type in 'customer,admin' %}
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">编辑个人资料</a>
        {% endif %}
        {% if user.is_superuser or user.user_type == 'superadmin' %}
            <a href="{% url 'user_management' %}" class="btn btn-primary">用户管理</a>
        {% endif %}
        {% if user.user_type in 'superadmin,admin' %}
            <a href="{% url 'book_management' %}" class="btn btn-primary">图书管理</a>
            <a href="{% url 'purchase_management' %}" class="btn btn-primary">进货管理</a>
            <a href="{% url 'bill_view' %}" class="btn btn-primary">财务记录</a>
        {% endif %}
        {% if user.user_type in 'superadmin,admin,customer' %}
            <a href="{% url 'sale' %}" class="btn btn-primary">图书销售</a>
        {% endif %}
        <a href="{% url 'logout' %}" class="btn btn-secondary">退出</a>
    </div>
</div>
{% endblock %}